<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/site.css" />
        <script src="/js/site.js"></script>
    </head>
    <body>
        {{>header}}
        <img id ="kylelong" src="/img/kylelong1.jpg"></img>
        {{footer}}
    </body>
</html>